* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgba(15, 23, 42, 1);
  --secondary-color: rgb(229, 231, 235);
  --secondary-color-hover: rgb(30, 41, 63);
  --primary-font: "inter";
}

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
    circle at 494px 628px,
    var(--secondary-color-hover),
    var(--primary-color) 100%
  );
  background-attachment: fixed !important;
  background-position: center;
}
.container {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  width: 90%;
  margin: 0 auto;
  padding-top: 72px;
}

.header {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  padding-left: 48px;
  position: fixed;
  width: 40.5%;
  height: calc(100vh - 72px * 2);
  /* border: 1px solid white; */
}

.navigationList {
  li {
    margin: 10px;
    padding-left: 34px;
    width: 100%;
    max-width: 40%;
    transition: 0.3s;

    position: relative;
    a {
      color: white;
      font-weight: bold;
    }
  }

  li:hover {
    padding-left: 44px;
    &:after {
      width: 40px;
    }
  }
  li::after {
    transition: 0.3s;
    content: "";
    height: 2px;
    width: 30px;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    position: absolute;
  }
}

.social-item-container:last-child {
  display: flex;
  gap: 8px;
  bottom: 0;
  position: absolute;
}

.socialItem {
  img {
    width: 26px;
    opacity: 0.7;
    transition: 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}

.header .name {
  font-size: 48px;
  color: var(--secondary-color);
  opacity: 0.8;
}

.header .comercialName {
  margin: 4px 0px 6px 0;
  color: var(--secondary-color);
  opacity: 0.6;
}

.header .basicDescription {
  max-width: 340px;
}

.navigationList {
  list-style-type: none;
  a {
    text-decoration: none;
    /* color: white; */
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding-right: 48px;
  transition: 0.3s;
}

.container-technologies {
  margin: 0 auto;
  animation: turn 2s;
  background-color: var(--secondary-color);
  width: fit-content;
  padding: 8px 16px;
  display: flex;
  gap: 8px;
  border-radius: 8px;
}

.container-technologies .img-technologie {
  width: 30px;
  transition: transform 0.3s;
}

.container-technologies .img-technologie:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.project-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  h1 {
    font-size: 36px !important;
  }
  .main {
    text-align: justify;
  }
}

@media (max-width: 1280px) {
  .header,
  .main {
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    padding-top: 48px;
  }
  .header {
    position: relative;
    width: 100%;
    height: 190px;
    padding-left: 0;
    margin-bottom: 36px;
  }
  .main {
    padding-right: 0;
  }

  .navigationList {
    display: none;
  }
}

@keyframes turn {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
}
