* {
  font-family: "Inter";
}

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.ttf");
}
